.dream-img1{
    width: 650px;
    height: 740px;
    padding-right: 15px;
    flex-shrink: 0;
}
.dream-para1{
    color: #545454;
    width: 657px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 165.2%; /* 26.432px */
}
.dream-heading1{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 704px;
}
.styling1{
    width: 76px;
    height: 65px;
    flex-shrink: 0;
    color:#E52B50;
    
}
.cardd{
    margin-left: 30px;
}