.dream-img{
    width: 600px;
    height: 700px;
    flex-shrink: 0;
}
.dream-para{
    color: #545454;
    width: 657px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 165.2%; /* 26.432px */
}
.dream-heading{
    color: #1F1F1F;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 704px;
}
.styling{
    width: 76px;
    height: 65px;
    flex-shrink: 0;
    color:#E52B50;
    
}