.step-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}
.step-one h1{
    width: 187.986px;
    height: 23.5px;
    color: #41303E;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; 
    
}
.step-one p{
    color: #41303E;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    width: 252.026px;
    height: 19px;
    
}
.step-one .span {
    color: #EB595F;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}

.step-one .cc{
    border-radius: 4px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    width: 528px;
    margin: 10px;
    
}
.step-one .cc h1{
    color: #5E455A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    width: 44.675px;
    height: 24px;
}
.left-button{
    color: #E52B50;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;

    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.75px;
    text-transform: uppercase;
    

}
.right-button{
    border-radius: 24px;
    opacity: 0.6;
    background: #E01859;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.c1{
    
    justify-content: space-between;
}