.h{
    color: #1F1F1F;
    text-align: center;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.p{
    color: #545454;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 165.196%; /* 39.647px */
}