.three h1{
    color: #41303E;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; 
}
.three .card1{

    border-radius: 4px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    width: 328px;
    height: 375px;
}
.three .card1 p{
    color: #7A6E77;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.three .card1 img{
    width: 300px;
    height: 169px;
    border-radius: 4px;
}
.butt{
    border-radius: 24px;
    opacity: 0.6;
    background: #E52B50;
}
.but{
    color: #E52B50;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.center{
    justify-content: space-between;
}